// Mobiale-responsive and orientation: portrait)
@media only screen and (min-width: 300px) and (max-width: 768px)   and (orientation: portrait) {
	.header_list{
		
		.active_ul{
			display: block !important;
			position: fixed;
			top: 72px;
			right: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: transparent;
			text-align: center;
			li{
				width: 100%;
				a{
					background-color: #111;
					text-align: center;
					float: left;
					margin: -35px -20px;
					padding: 26px 0;
					width: 100%;
					&:hover{
						text-decoration: none;
						background-color: red;
					}
				}
				
			}

		}
		.open_ul{
			display: none;
			li{
				display: inline-block;
				list-style-type: none;
				margin: 30px 20px;

				a{
					text-decoration: none;
					color:#b0b0b0;
					font-size: 14px;
					font-family: Regular Arial;
					display: block;
					transition:all 0.5s ease-in-out;
					&:hover{
						text-decoration: none;
						color: #fff;
					}
				}
				
			}
		}

		.icon-nav{
			display: block;
			position: absolute;
			right: 0px;
			top: 30px;
			.click_btn{
				text-decoration: none;
				outline: none;
				color: #fff;
			}
		}
	}
	

	

	////////////////////////////////////////////////Mobile version Header nav version

/////////////////////////////////////////////// Mobile version Sosial version
.social{
	.social_icon{
		ul{
			li{
				a{
					font-size: 35px ;
					padding: 0px 6px;
				}
			}
		}
	}
}

/////////////////////////////////////////////Mobile customers_commit version
.customers_commit{
	text-align: left;
	.qirag{
		position: absolute;
		z-index: -1;
		img{
			height: 147px;
		}
	}
	p{
		padding: 10px 0px; 
		color: #8d8e92;
		font-size: 13px;

	}
}

/////////////////////////////////////////////Mobile contack version



.contack{
	
	.contack_all{
		form{
			
			
			.box_btn{
				margin: 0px 20% ;
				a{
					text-decoration: none;
					color: #fff;
					background-color:#ff9b51;
					border: 2px solid #fff;
					font-size: 15px;
					border-radius: 5px;
					padding: 13px 25px;
					transition:all 0.5s ease-in-out;
					cursor: pointer;
				}
			}
		}
	}
}


/////////////////////////////////////////////Mobile footer version

footer{
	background-color: black;
	text-align: center;
	ul{
		li{
			display: inline-block;
			list-style-type: none;
			margin: 20px 0px 0px 0px;
			a{
				
				padding: 0px 10px !important;
				
				
				i{
					color: #cccccc;
					font-size: 20px !important;
				}
			}
		}
	}
	p{
		font-size: 12px;
		color: #808080;
		margin: 0px 0 0 -30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}





/////////////////////////////////////////////// Mobile version About version

.about{
	background-image: url("../img/city.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	
	
}

}







// Mobiale-responsive and orientation: landscape)

@media only screen and (min-width: 300px) and (max-width: 768px)   and (orientation: landscape)  {
	.header_list{
		
		.active_ul{
			display: block !important;
			position: fixed;
			top: 55px;
			right: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: transparent;
			text-align: center;
			li{
				width: 100%;
				a{
					background-color: #111;
					text-align: center;
					float: left;
					margin: -35px -20px;
					padding: 26px 0;
					width: 100%;
					&:hover{
						text-decoration: none;
						background-color: red;
					}
				}
				
			}

		}
		.open_ul{
			display: none ;
			li{
				display: inline-block;
				list-style-type: none;
				margin: 30px 20px;

				a{
					text-decoration: none;
					color:#b0b0b0;
					font-size: 14px;
					font-family: Regular Arial;
					display: block;
					transition:all 0.5s ease-in-out;
					&:hover{
						text-decoration: none;
						color: #fff;
					}
				}
				
			}
		}

		.icon-nav{
			display: block;
			position: absolute;
			right: 0px;
			top: 30px;
			.click_btn{
				text-decoration: none;
				outline: none;
				color: #fff;
			}
		}
	}

////////////////////////////////////////////////Mobile version Header nav version


/////////////////////////////////////////////// Mobile version Sosial version
.social{
	.social_icon{
		ul{
			li{
				a{
					font-size: 35px ;
					padding: 0px 6px;
				}
			}
		}
	}
}

/////////////////////////////////////////////Mobile customers_commit version
.customers_commit{
	text-align: left;
	.qirag{
		position: absolute;
		z-index: -1;
		img{
			height: 147px;
		}
	}
	p{
		padding: 10px 0px; 
		color: #8d8e92;
		font-size: 13px;

	}
}

/////////////////////////////////////////////Mobile contack version



.contack{
	
	.contack_all{
		form{
			
			
			.box_btn{
				margin: 0px 20% ;
				a{
					text-decoration: none;
					color: #fff;
					background-color:#ff9b51;
					border: 2px solid #fff;
					font-size: 15px;
					border-radius: 5px;
					padding: 13px 25px;
					transition:all 0.5s ease-in-out;
					cursor: pointer;
				}
			}
		}
	}
}


/////////////////////////////////////////////Mobile footer version

footer{
	background-color: black;
	text-align: center;
	ul{
		li{
			display: inline-block;
			list-style-type: none;
			margin: 20px 0px 0px 0px;
			a{
				
				padding: 0px 10px !important;
				
				
				i{
					color: #cccccc;
					font-size: 20px !important;
				}
			}
		}
	}
	p{
		font-size: 12px;
		color: #808080;
		margin: 0px 0px 0px -30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}



/////////////////////////////////////////////// Mobile version About version

.about{
	background-image: url("../img/city.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	
	
}

}
