
%sections_title{

	text-align: center;
	h1{
		color:#2f2f2f;
		font-size: 36px;
		font-family: Arial Regular;
	}
	.hr{
		margin: 30px 45%;
		
		hr{
			width: 64px;
			border-color:#ff8b38;
		}
	}


	p{
		font-size: 14px;
		color: #86878b;
		font-family:Arial Regular;
	}
	
}


%Tab-active{
	

		padding: 0px;
		height: 0px;
		margin: 160px 100px;
		overflow: visible;
		transition: all 2s ease-in-out;

	
}