@media only screen and (min-width: 768px) {
  .header_list .active_ul {
    display: block !important;
    position: fixed;
    top: 72px;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    text-align: center;
  }
  .header_list .active_ul li {
    width: 100%;
  }
  .header_list .active_ul li a {
    background-color: #111;
    text-align: center;
    float: left;
    margin: -35px -20px;
    padding: 26px 0;
    width: 100%;
  }
  .header_list .active_ul li a:hover {
    text-decoration: none;
    background-color: red;
  }
  .header_list .open_ul {
    display: none;
  }
  .header_list .open_ul li {
    display: inline-block;
    list-style-type: none;
    margin: 30px 20px;
  }
  .header_list .open_ul li a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 14px;
    font-family: Regular Arial;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header_list .open_ul li a:hover {
    text-decoration: none;
    color: #fff;
  }
  .header_list .icon-nav {
    display: block;
    position: absolute;
    right: 0px;
    top: 30px;
  }
  .header_list .icon-nav .click_btn {
    text-decoration: none;
    outline: none;
    color: #fff;
  }

  .social .social_icon ul li a {
    font-size: 35px;
    padding: 10px 6px;
  }

  .customers_commit {
    text-align: left;
  }
  .customers_commit .qirag {
    position: absolute;
    z-index: -1;
  }
  .customers_commit .qirag img {
    height: 147px;
  }
  .customers_commit p {
    padding: 10px 15px;
    color: #8d8e92;
    font-size: 14px;
  }

  .contack .contack_all form .box_btn {
    margin: 0px 40%;
  }
  .contack .contack_all form .box_btn a {
    text-decoration: none;
    color: #fff;
    background-color: #ff9b51;
    border: 2px solid #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 13px 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  footer {
    background-color: black;
    text-align: center;
  }
  footer ul li {
    display: inline-block;
    list-style-type: none;
  }
  footer ul li a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  footer ul li a i {
    color: #cccccc;
    font-size: 24px !important;
  }
  footer p {
    font-size: 12px;
    color: #808080;
    margin: 0px 0 0 -30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .header_list .active_ul {
    display: block;
    position: absolute;
    top: 0px;
    background-color: transparent;
    width: 100%;
    text-align: left;
  }
  .header_list .active_ul li {
    width: 0%;
    padding: 0px 20px;
  }
  .header_list .open_ul {
    display: block;
  }
  .header_list .open_ul li {
    display: inline-block;
    list-style-type: none;
    margin: 30px 20px;
  }
  .header_list .open_ul li a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 14px;
    font-family: Regular Arial;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header_list .open_ul li a:hover {
    text-decoration: none;
    color: #fff;
  }
  .header_list .icon-nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 30px;
  }
  .header_list .icon-nav .click_btn {
    text-decoration: none;
    outline: none;
    color: #fff;
  }

  .social .social_icon ul li a {
    font-size: 48px;
    padding: 0px 14px;
  }

  .customers_commit {
    text-align: left;
  }
  .customers_commit .qirag {
    position: absolute;
    z-index: -1;
  }
  .customers_commit .qirag img {
    height: 147px;
  }
  .customers_commit p {
    padding: 10px 15px;
    color: #8d8e92;
    font-size: 14;
  }

  .contack .contack_all form .box_btn {
    margin: 0px 41%;
  }
  .contack .contack_all form .box_btn a {
    text-decoration: none;
    color: #fff;
    background-color: #ff9b51;
    border: 2px solid #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 13px 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  footer {
    background-color: black;
    text-align: center;
    height: 100%;
  }
  footer ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer ul li {
    display: inline-block;
    list-style-type: none;
  }
  footer ul li a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  footer ul li a i {
    color: #cccccc;
  }
  footer p {
    font-size: 12px;
    color: #808080;
    margin: 0px 0 0 -30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .header_list .open_ul {
    display: block !important;
  }
  .header_list .open_ul li {
    display: inline-table;
    list-style-type: none;
    margin: 30px 20px;
  }
  .header_list .open_ul li a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 14px;
    font-family: Regular Arial;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header_list .open_ul li a:hover {
    text-decoration: none;
    color: #fff;
  }
  .header_list .icon-nav {
    display: none !important;
    position: absolute;
    right: 0px;
    top: 30px;
  }
  .header_list .icon-nav .click_btn {
    text-decoration: none;
    outline: none;
    color: #fff;
  }

  .social .social_icon ul li a {
    font-size: 48px;
    padding: 0px 25px;
  }

  .list_img2 {
    position: relative;
    left: 70px;
  }
  .list_img2 img {
    width: 100%;
    height: 453px;
  }

  .customers_commit {
    text-align: left;
  }
  .customers_commit .qirag {
    position: absolute;
    z-index: -1;
  }
  .customers_commit .qirag img {
    height: 147px;
  }
  .customers_commit p {
    padding: 10px 15px;
    color: #8d8e92;
    font-size: 14;
  }

  .contack .contack_all form .box_btn {
    margin: 0px 41%;
  }
  .contack .contack_all form .box_btn a {
    text-decoration: none;
    color: #fff;
    background-color: #ff9b51;
    border: 2px solid #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 13px 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  footer {
    background-color: black;
    text-align: center;
    height: 100%;
  }
  footer ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer ul li {
    display: inline-block;
    list-style-type: none;
  }
  footer ul li a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  footer ul li a i {
    color: #cccccc;
  }
  footer p {
    font-size: 12px;
    color: #808080;
    margin: 0px 0 0 -30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about {
    background-image: url("../img/city.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=media_responsive.css.map */
